//CORPO
.mainList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  margin: 70px;
  font-size: 35px;
  font-weight: bold;
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px #9b1b30;
  border-style: dashed;
  margin-bottom: 25px;
  padding: 15px;
  display: none;
}

//ANIMATION
.animate {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonFilter {
  display: flex;
  justify-content: baseline;
  font-size: 40px;
  background-color: transparent;
  color: #8f2033;
  border: none;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 200px;
  margin-top: 130px;
  transition: all 0.2s ease-in-out;
}

.buttonFilter:hover,
.buttonFilter:focus {
  background-color: transparent;
  color: #b13046;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}
.buttonFilter p {
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
}

.hide {
  display: none;
}
