// * {
//   margin: 0;
// }
// body {
//   background-color: green;
// }

// .header {
//   height: 60vh;
//   width: 100%;
//   background-image: url("../images/img.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectContainer {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  border-radius: 2px;

  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 30px rgba(220, 120, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  width: 600px;
  height: 750px;

  letter-spacing: 0.05em;
  line-height: 1.6;
}
.projectContainer h3 {
  margin-top: 80px;
}
.projectContainer p {
  margin: 15px;
  padding: 0px;
}

.quote {
  font-size: 13px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 25px;
  width: 500px;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote p {
  margin: 0px;
  flex-wrap: wrap;
}

.text {
  width: 500px;
  height: 150px;
}
