.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectContainer {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  border-radius: 2px;

  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 30px rgba(220, 120, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  width: 750px;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

.projectContainer p {
  margin: 15px;
  padding: 0px;
}

.quote {
  font-size: 14px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote p {
  margin: 0px;
  flex-wrap: wrap;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 600px;
  //height: 150px;
}

.imgCont {
  height: 400px;
  width: 600px;
}
.eventImg {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.projectTitle {
  padding-top: 60px;
  margin: 30px;
  font-size: 25px;
  font-weight: bold;
}
