.resetButton {
  display: flex;
  justify-content: baseline;
  font-size: 20px;
  background-color: transparent;
  color: #8f2033;
  border: none;
  float: right;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-right: 0px;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
  @include for-mobile {
    font-size: 20px;
    top: 0;

    display: flex;
    justify-content: baseline;

    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
  }
}

.resetButton:hover,
.resetButton:focus {
  background-color: transparent;
  color: #b13046;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}

.bubble {
  background: #129471;
  position: relative;
  height: 20px;
  width: 90px;
  box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
  font-size: 11px;
  padding: 5px;
  left: -725px;
  bottom: -19px;
  display: none;
}
.bubble:before {
  border: 10px solid #129471;
  content: "";
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -20px;
  left: calc(85% - 25px);
}
.resetButton:hover + .bubble {
  display: flex;
  flex-direction: column;
}
