.btnContainer {
  position: absolute;
  float: right;
  bottom: 0;
  left: 0;
  margin-right: 0px;
  margin-bottom: 5px;
}

.resetButton {
  display: flex;
  justify-content: baseline;
  font-size: 20px;
  background-color: transparent;
  color: #8f2033;
  border: none;

  transition: all 0.2s ease-in-out;
  @include for-mobile {
    font-size: 20px;
    top: 0;

    display: flex;
    justify-content: baseline;

    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
  }
}
.btnText {
  position: absolute;
  background: #129471;
  border-radius: 2px;
  height: 20px;
  width: 90px;
  box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
  font-size: 11px;
  padding: 5px;
  left: -55px;
  bottom: 30px;
  display: none;
}

.resetButton:hover {
  background-color: transparent;
  color: #b13046;
  text-decoration: none;
  cursor: pointer;
}

.btnText:before {
  border: 10px solid #129471;
  content: "";
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -20px;
  left: calc(85% - 25px);
}

.resetButton:hover + .btnText {
  display: flex;

  flex-direction: column;
}
