body {
  font-family: "Special Elite", cursive;
}
.mainList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  border-left: 6px solid green;
  height: 500px;
}

.title {
  margin: 70px;
}
