@mixin for-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin breakpoint {
  @media (max-width: 1112px) {
    @content;
  }
}
